
   <table border=0 cellspacing=0 cellpadding=5 width=100%>
    <tr>
     <td class="bg_nav_right_header" align=center><span class="nav_right_header">Our Sponsors</span></td>
    </tr>
   </table>

   <table border=0 cellspacing=1 cellpadding=2 width=100%>    
    <tr><td><img src="$_imageurl$set1_maple/spacer.gif" height=4 width=1></td></tr>

<!-- Begin Banner Code --> 
            <br>
              <CENTER>
                <SCRIPT LANGUAGE="JavaScript" SRC="http://gazettejournal.net/cgi-bin/webadverts/ads.cgi?jscript;zone=NAD;30">
  </SCRIPT>
                <NOSCRIPT> <A HREF="http://gazettejournal.net/cgi-bin/webadverts/ads.cgi?banner=NonSSI;page=30;zone=NAD" 
  TARGET="_blank"><IMG SRC="http://gazettejournal.net/cgi-bin/webadverts/ads.cgi?page=30;zone=NAD" 
  WIDTH=120 BORDER=0></A> </NOSCRIPT> 
              </CENTER>
<!-- End Banner Code --> 
 <!-- Begin Banner Code --> 
            <br>
              <CENTER>
                <SCRIPT LANGUAGE="JavaScript" SRC="http://gazettejournal.net/cgi-bin/webadverts/ads.cgi?jscript;zone=NAD;40">
  </SCRIPT>
                <NOSCRIPT> <A HREF="http://gazettejournal.net/cgi-bin/webadverts/ads.cgi?banner=NonSSI;page=40;zone=NAD" 
  TARGET="_blank"><IMG SRC="http://gazettejournal.net/cgi-bin/webadverts/ads.cgi?page=40;zone=NAD" 
  WIDTH=120 BORDER=0></A> </NOSCRIPT> 
              </CENTER>
<!-- End Banner Code --> 
 <!-- Begin Banner Code --> 
            <br>
              <CENTER>
                <SCRIPT LANGUAGE="JavaScript" SRC="http://gazettejournal.net/cgi-bin/webadverts/ads.cgi?jscript;zone=NAD;50">
  </SCRIPT>
                <NOSCRIPT> <A HREF="http://gazettejournal.net/cgi-bin/webadverts/ads.cgi?banner=NonSSI;page=50;zone=NAD" 
  TARGET="_blank"><IMG SRC="http://gazettejournal.net/cgi-bin/webadverts/ads.cgi?page=50;zone=NAD" 
  WIDTH=120 BORDER=0></A> </NOSCRIPT> 
              </CENTER>
<!-- End Banner Code --> 
 <!-- Begin Banner Code --> 
            <br>
              <CENTER>
                <SCRIPT LANGUAGE="JavaScript" SRC="http://gazettejournal.net/cgi-bin/webadverts/ads.cgi?jscript;zone=NAD;60">
  </SCRIPT>
                <NOSCRIPT> <A HREF="http://gazettejournal.net/cgi-bin/webadverts/ads.cgi?banner=NonSSI;page=60;zone=NAD" 
  TARGET="_blank"><IMG SRC="http://gazettejournal.net/cgi-bin/webadverts/ads.cgi?page=60;zone=NAD" 
  WIDTH=120 BORDER=0></A> </NOSCRIPT> 
              </CENTER>
<!-- End Banner Code --> 
 <!-- Begin Banner Code --> 
            <br>
              <CENTER>
                <SCRIPT LANGUAGE="JavaScript" SRC="http://gazettejournal.net/cgi-bin/webadverts/ads.cgi?jscript;zone=NAD;70">
  </SCRIPT>
                <NOSCRIPT> <A HREF="http://gazettejournal.net/cgi-bin/webadverts/ads.cgi?banner=NonSSI;page=70;zone=NAD" 
  TARGET="_blank"><IMG SRC="http://gazettejournal.net/cgi-bin/webadverts/ads.cgi?page=70;zone=NAD" 
  WIDTH=120 BORDER=0></A> </NOSCRIPT> 
              </CENTER>
<!-- End Banner Code -->
 <!-- Begin Banner Code --> 
            <br>
              <CENTER>
                <SCRIPT LANGUAGE="JavaScript" SRC="http://gazettejournal.net/cgi-bin/webadverts/ads.cgi?jscript;zone=NAD;80">
  </SCRIPT>
                <NOSCRIPT> <A HREF="http://gazettejournal.net/cgi-bin/webadverts/ads.cgi?banner=NonSSI;page=80;zone=NAD" 
  TARGET="_blank"><IMG SRC="http://gazettejournal.net/cgi-bin/webadverts/ads.cgi?page=80;zone=NAD" 
  WIDTH=120 BORDER=0></A> </NOSCRIPT> 
              </CENTER>
<!-- End Banner Code -->
 <!-- Begin Banner Code --> 
            <br>
              <CENTER>
                <SCRIPT LANGUAGE="JavaScript" SRC="http://gazettejournal.net/cgi-bin/webadverts/ads.cgi?jscript;zone=NAD;90">
  </SCRIPT>
                <NOSCRIPT> <A HREF="http://gazettejournal.net/cgi-bin/webadverts/ads.cgi?banner=NonSSI;page=90;zone=NAD" 
  TARGET="_blank"><IMG SRC="http://gazettejournal.net/cgi-bin/webadverts/ads.cgi?page=90;zone=NAD" 
  WIDTH=120 BORDER=0></A> </NOSCRIPT> 
              </CENTER>
<!-- End Banner Code -->

      <!-- templatecell : divider -->
      <!-- /templatecell : divider -->

    <!-- templatecell : footer -->
    <tr><td><img src="$_imageurl$set1_maple/spacer.gif" height=4 width=1></td></tr>
    <!-- /templatecell : footer -->

   </table>
