 
 
   <table border=0 cellspacing=0 cellpadding=5 width=100% class="bg_nav_left_header">
    <tr>
     <td><span class="nav_left_header_text"><a href="$url_gindex$">$gcat_name$</a></span>&nbsp;</td>
    </tr>
   </table>
  
   <table border=0 cellspacing=0 cellpadding=1 width=100%>
<!-- template insert : $category_list$ -->

<!-- templatecell : row_depth1 -->
    <tr class="bg_nav_left"><td colspan=2 style="padding-top: 5px; font-size: 1px">&nbsp;</td></tr>
    <tr class="bg_nav_left"><td width="1%">&nbsp;</td><td><span class="category_link_depth1"><a href="$url_index$">$cat_name$</a></span></td></tr>
<!-- /templatecell : row_depth1 -->

<!-- templatecell : row_depth2 -->
    <tr class="bg_nav_left"><td width="1%">&nbsp;</td><td style="padding-left: 10px;"><span class="category_link_depth2"><a href="$url_index$">$cat_name$</a></span></td></tr>
<!-- /templatecell : row_depth2 -->

<!-- templatecell : row_depth3 -->
    <tr class="bg_nav_left"><td width="1%">&nbsp;</td><td style="padding-left: 20px;"><span class="category_link_depth3"><a href="$url_index$">$cat_name$</a></span></td></tr>
<!-- /templatecell : row_depth3 -->

<!-- templatecell : row_selected_depth1 -->
    <tr class="bg_nav_left"><td colspan=2 style="padding-top: 5px; font-size: 1px">&nbsp;</td></tr>
    <tr class="bg_nav_left_selected"><td width="1%">&nbsp;</td><td><span class="category_link_depth1"><a href="$url_index$">$cat_name$</a></span></td></tr>
<!-- /templatecell : row_selected_depth1 -->

<!-- templatecell : row_selected_depth2 -->
    <tr class="bg_nav_left_selected"><td width="1%">&nbsp;</td><td style="padding-left: 10px;"><span class="category_link_depth2"><a href="$url_index$">$cat_name$</a></span></td></tr>
<!-- /templatecell : row_selected_depth2 -->

<!-- templatecell : row_selected_depth3 -->
    <tr class="bg_nav_left_selected"><td width="1%">&nbsp;</td><td style="padding-left: 20px;"><span class="category_link_depth3"><a href="$url_index$">$cat_name$</a></span></td></tr>
<!-- /templatecell : row_selected_depth3 -->

<!-- templatecell : not_found -->
    <tr class="bg_nav_left"><td width="1%">&nbsp;</td><td><span class="category_link_depth1">No Categories Defined</span></td></tr>
<!-- /templatecell : not_found -->

    <tr class="bg_nav_left"><td colspan=2 style="padding-top: 5px; font-size: 1px">&nbsp;</td></tr>
    <tr class="bg_nav_left"><td width="1%">&nbsp;</td><td><span class="category_link_depth1"><a href="http://gazettejournal.net/news/publish/information/article_142.shtml">How to Contact Us</a></span></td></tr>

   </table>