
   <table border=0 cellspacing=0 cellpadding=5 width=100%>
    <tr>
     <td class="bg_nav_right_header" align=center><span class="nav_right_header">Latest Headlines</span></td>
    </tr>
   </table>

   <table border=0 cellspacing=1 cellpadding=2 width=100%>    
    <tr><td><img src="$_imageurl$set1_maple/spacer.gif" height=4 width=1></td></tr>

    <!-- template insert : $category_list$ -->

    <!-- templatecell : header -->
    <tr><td><span class="nav_right_category_name">$cat_name$</span></td></tr>
    <!-- /templatecell : header -->

      <!-- templatecell : row -->
      <tr><td><span class="nav_right_headlines"><a href="$detail_link$">$art_name$</a></span></td></tr>
      <!-- /templatecell : row -->
      
      <!-- templatecell : row_summary -->
      <tr><td><span class="nav_right_headlines"><a href="$url_index$#$art_num$">$art_name$</a></span></td></tr>
      <!-- /templatecell : row_summary -->
      
      <!-- templatecell : row_link -->
      <tr><td><span class="nav_right_headlines"><a href="$url_index$#$art_num$">$art_name$</a></span></td></tr>
      <!-- /templatecell : row_link -->
      
      <!-- templatecell : row_ufile -->
      <tr><td><span class="nav_right_headlines"><a href="$url_index$#$art_num$">$art_name$</a></span></td></tr>
      <!-- /templatecell : row_ufile -->
      
      <!-- templatecell : not_found -->
      <tr><td><span class="nav_right_headlines">No articles available.</td></tr>
      <!-- /templatecell : not_found -->

      <!-- templatecell : img_caption --> <!-- /templatecell : img_caption -->
      <!-- templatecell : img_nocaption --> <!-- /templatecell : img_nocaption -->

      <!-- templatecell : divider -->
      <!-- /templatecell : divider -->

    <!-- templatecell : footer -->
    <tr><td><img src="$_imageurl$set1_maple/spacer.gif" height=4 width=1></td></tr>
    <!-- /templatecell : footer -->

   </table>
