<html>
 <body bgcolor="#FFFFFF">
  <p><font face="Verdana, Arial, Helvetica, sans-serif" size=4><b>Webfeed Generator - Help</b></font>

  <font face="Verdana, Arial, Helvetica, sans-serif" size=1>

  <p>This program allows you to select the look and feel of the headlines you'll be adding
    to your website.  You can experiment with the different options available, and see how your
    previewed headlines will look.  When you're ready to add the headlines to your site, click the
    "View Code" button.

  <p>NOTE: If you are having trouble using this program, or are unable to "preview" headlines,
    make sure you have Javascript enabled.  Please see your web browser's documentation to find
    out how.

  <p><b>Category</b> - You can choose to receive headlines from all categories, or just from a
    specific category.  It is possible to have multiple webfeeds on one webpage.

  <p><b>Headlines</b> - Limit the number of headlines displayed.

  <p><b>Style</b> - We've provided a selection of pre-made styles to choose from.  If you'd like
    to fine-tune a style, or come up with a new one, please see the section on the "Advanced Menu"
    below.

  <p><b>Width</b> - This is the maximum width of your headlines, this can be a number of pixels or
    a percentage of the frame width.  (eg. 200 or 50%)

  <p><b>Show Dates/Summaries</b> - You can turn off the display of dates or summaries.

  <p><b>Advanced Menu</b> - For more control over the look and feel of your headlines, the
    Advanced Menu allows you to select fonts, font sizes, colors, and more text attributes for
    the title, date, and summary of each article.  You can also change the background color.
    To change colors, click the yellow palette button beside the color you want to change.

  <p><b>Preview Button</b> - Click this button to see your latest changes take effect in the
    preview frame.

  <p><b>View Code Button</b> - This is the final step of the Webfeed Generator.  This function will
    show you the HTML code required to display headlines exactly as they were displayed in the
    preview.  Cut and paste this HTML into any web page for instant, automatically updating content.

  </font>

  <p><div align=right><a href="javascript:window.close();"><font face="Verdana, Arial, Helvetica, sans-serif" size=1 style="text-decoration: none">close window</font></a></div>
 </body>
</html>
