<html>
 <body bgcolor="#EEEEEE">
  <table border=0 width=100% height=90%><tr><td align=center valign=center>
   <table border=0 cellpadding=3 cellspacing=0><tr><td width=400  bgcolor="#666666">
    <table border=0 cellpadding=15 cellspacing=0><tr><td bgcolor="#FFFFFF">

      <p><font color="#000000" face="arial,helvetica,sans-serif" size=4><b>Place our headlines on your webpage!</b></font>

      <p><font color="#000000" face="arial,helvetica,sans-serif" size=2>
        Now you can get up-to-the-minute headlines from our site displayed on your webpages.
        You can choose to see headlines from our front page, or any of our categories.
        All that's required for you to do is to cut and paste some HTML onto your site.
        You'll only need to add this HTML once, but your headlines will stay current,
        updating the same second we update ours.
      
      <p>This program will allow you to customize the look and feel of the headlines
        on your site.
      </font><br><br>

    </td></tr><tr><td align=right bgcolor="#FFFFFF">

      <p><a href="$_cgiurl$?frameset=1"><font color="#0000ff" face="arial,helvetica,sans-serif" size=2>click here to begin &gt;&gt;</a>

    </td></tr></table>
   </td></tr></table>
  </td></tr></table>
 </body>
</html>
