<table width="$width$" cellpadding=0 cellspacing=0>
  <tr>
    <td bgcolor="$bgcolor$">
      <font color="$title_fontcolor$" face="$title_fontface$" size="3"><b>
        $cat_name$
        <br><br>
      </b></font>
    </td>
  </tr>

  <!-- begin syndicated content -->
  <script language="Javascript1.1"><!--

  var syndicate = new Object;

  syndicate.title_fontbold    = $title_fontbold$;
  syndicate.title_fontital    = $title_fontital$;
  syndicate.title_fontface    = '$title_fontface_je$';
  syndicate.title_fontsize    = '$title_fontsize_je$';
  syndicate.title_fontcolor   = '$title_fontcolor_je$';

  syndicate.date_fontbold     = $date_fontbold$;
  syndicate.date_fontital     = $date_fontital$;
  syndicate.date_fontunder    = $date_fontunder$;
  syndicate.date_fontface     = '$date_fontface_je$';
  syndicate.date_fontsize     = '$date_fontsize_je$';
  syndicate.date_fontcolor    = '$date_fontcolor_je$';

  syndicate.summary_fontbold  = $summary_fontbold$;
  syndicate.summary_fontital  = $summary_fontital$;
  syndicate.summary_fontunder = $summary_fontunder$;
  syndicate.summary_fontface  = '$summary_fontface_je$';
  syndicate.summary_fontsize  = '$summary_fontsize_je$';
  syndicate.summary_fontcolor = '$summary_fontcolor_je$';

  syndicate.bgcolor           = '$bgcolor_je$';
  syndicate.max_articles      = '$headlines_je$';
  syndicate.display_date      = $show_date$;
  syndicate.display_summaries = $show_summary$;
  syndicate.not_found_message = '<font face="$summary_fontface_je$" size="$summary_fontsize_je$" color="$summary_fontcolor_je$">Sorry, no articles were found.</font>';

  // -->
  </script>
  <script language="Javascript1.1" src="$js_include_url$"></script>

  <noscript>
    <tr>
      <td bgcolor="$bgcolor$">
        <font color="$summary_fontcolor$" face="$summary_fontface$" size="$summary_fontsize$">
        <p>This webpage uses Javascript to display some content.
        <p>Please enable Javascript in your browser and reload this page.
        </font>
      </td>
    </tr>
  </noscript>
  <!-- end of syndicated content -->

</table>

