<!-- templatecell : header_header -->
<html>
 <head>
  <title>Help</title>
  <meta name="robots" content="noindex,nofollow">
 </head>
<body bgcolor="#FFFFFF">
<!-- /templatecell : header_header -->



<!-- templatecell : autoformat -->
 <font face="ms sans serif,arial" size=2>
 <p>

<p><table border=0 cellspacing=0 cellpadding=0 width=100%>
 <tr>
  <td><font face="ms sans serif,arial" size=2><b>Auto Format</b></font></td>
  <td align=right><font face="ms sans serif,arial" size=2><a href="javascript:window.close();">close window</a></font></td>
 </tr>
</table>
 
<p>Auto formatting is designed to ensure the content you enter will
look the same way in the published web pages created by the
program as it does in the editor where you originally entered it.

<p>Unlike text files where you can just press the "Enter" key once or
twice to start a new line or paragraph, web pages require special HTML
tags to indicate a new line or paragraph.  Auto Formatting automatically
adds these HTML tags to the published HTML content wherever you've pressed
enter so everything will look as you intended.

<p>Advanced Users: The only time you might want to turn auto formatting off
would be if you were entering HTML code directly and didn't want extra HTML
"&lt;br&gt;" tags added after every enter.

 </font>
<!-- /templatecell : autoformat -->



<!-- templatecell : placeholders -->
 <font face="ms sans serif,arial" size=2>
 <p>

<p><table border=0 cellspacing=0 cellpadding=0 width=100%>
 <tr>
  <td><font face="ms sans serif,arial" size=2><b>Image Placeholders</b></font></td>
  <td align=right><font face="ms sans serif,arial" size=2><a href="javascript:window.close();">close window</a></font></td>
 </tr>
</table>
 
<p>Image placeholders allow you to specify how and where uploaded
images will be displayed within your article.

<p>For each uploaded image a placeholder name will be displayed
at the bottom of the edit page (example: ***image$num$***).  Copying
this placeholder name into the article content will cause
the related image to be displayed on the published article
page.

<p>Examples:

<p><table border=0 cellspacing=2 cellpadding=0>
 <tr>
  <td><font face="ms sans serif,arial" size=2>***image$num$***</font></td>
  <td rowspan=99><font face="ms sans serif,arial" size=2>&nbsp;&nbsp;&nbsp;</font></td>
  <td><font face="ms sans serif,arial" size=2>insert image with default alignment</font></td>
 </tr>
 <tr>
  <td><font face="ms sans serif,arial" size=2>***image$num$:left***</font></td>
  <td><font face="ms sans serif,arial" size=2>insert image left aligned</font></td>
 </tr>
 <tr>
  <td><font face="ms sans serif,arial" size=2>***image$num$:center***</font></td>
  <td><font face="ms sans serif,arial" size=2>insert image center aligned</font></td>
 </tr>
 <tr>
  <td><font face="ms sans serif,arial" size=2>***image$num$:right***</font></td>
  <td><font face="ms sans serif,arial" size=2>insert image right aligned</font></td>
 </tr>
 <tr>
  <td><font face="ms sans serif,arial" size=2>***image$num$:url***</font></td>
  <td><font face="ms sans serif,arial" size=2>insert image URL</font></td>
 </tr>
</table>  

 </font>
<!-- /templatecell : placeholders -->


<!-- templatecell : help_footer -->
</form></body></html>
<!-- /templatecell : help_footer -->
