<html>
 <body bgcolor="#EEEEEE">
  <table border=0 width=100% height=90%><tr><td align=center valign=center>
   <table border=0 cellpadding=3 cellspacing=0><tr><td width=400  bgcolor="#666666">
    <table border=0 cellpadding=15 cellspacing=0><tr><td bgcolor="#FFFFFF">

      <p><font color="#000000" face="arial,helvetica,sans-serif" size=4><b>Program Disabled</b></font>

      <p><font color="#000000" face="arial,helvetica,sans-serif" size=2>
        The Dynamic Article Viewer has been disabled
      
      <p>
        Please ask your administrator to enable the Dynamic Article Viewer in the Setup Options.

      </font><br><br>

    </td></tr><tr><td align=right bgcolor="#FFFFFF">

      <p><a href="$url_publish$"><font color="#0000ff" face="arial,helvetica,sans-serif" size=2>click here to continue &gt;&gt;</a>

    </td></tr></table>
   </td></tr></table>
  </td></tr></table>
 </body>
</html>
