   
   
   <table border=0 cellspacing=0 cellpadding=5 width=100%>
    <tr><td class="bg_nav_left"><img src="$_imageurl$set1_maple/spacer.gif" height=10 width=1></td></tr>
    <tr><td class="bg_nav_left_header"><span class="nav_left_header_text">Search</span></td></tr>
   </table>
   <table border=0 cellspacing=0 cellpadding=3 width=100%>
    <tr>
     <td class="bg_search_box">
     <form action="$url_search$" method="post">
     <input type="text" name="keyword" size=12>
     <input type="submit" value="Go"><br>
     <select name="cat" style="font-size: 10px; letter-spacing: -0.05em">
     <option value="">All Categories</option>
     $category_pulldown$
     </select><br>
     <div align=center><span class="advancedsearch_link"><a href="$url_search$">Advanced Search</a></span></div>
     </FORM></td>
    </tr>
   </table>

