<html><head><title>$cat_name_he$</title>
<link href="$_imageurl$common/styles.css" rel="stylesheet" type="text/css" />
<SCRIPT LANGUAGE="JavaScript">

<!-- This script and many more are available free online at -->
<!-- The JavaScript Source!! http://javascript.internet.com -->

<!-- Begin
function right(e) {
var msg = "Images Copyright Tidewater Newspapers, Inc.";
if (navigator.appName == 'Netscape' && e.which == 3) {
alert(msg);
return false;
}
if (navigator.appName == 'Microsoft Internet Explorer' && event.button==2) {
alert(msg);
return false;
}
else return true;
}

function trap() 
  {
  if(document.images)
    {
    for(i=0;i<document.images.length;i++)
      {
      document.images[i].onmousedown = right;
      document.images[i].onmouseup = right;
      }
    }
  }
// End -->
</SCRIPT>
</head>
<body class="bg_main" LEFTMARGIN="0" TOPMARGIN="0" BGCOLOR="003366">
<div align=center onLoad="trap()">
<a name="top"></a>

<table border=0 cellspacing=0 cellpadding=0 width=100% class="bg_header" BGCOLOR="003366" NAME="masthead">
    <tr>
      <td WIDTH="62%"> <IMG SRC="/gfx/masthead.gif" WIDTH="450" HEIGHT="58"></td>
      <td align=right valign=top WIDTH="38%"> </td>
    </tr></table>

<!-- body: left nav -->

  <table border=0 cellspacing=0 cellpadding=0 width=100% height=100%>
    <tr> 
      <td class="bg_nav_left" valign=top COLSPAN="7" HEIGHT="2"> 
        <DIV ALIGN="RIGHT"><SPAN CLASS="general_text"> &nbsp; </SPAN> </DIV>
      </td>
    </tr>
    <tr> 
      <td class="bg_nav_left" valign=top width=1% ROWSPAN="2"> <!-- INCLUDE CATEGORY LIST --> 
        <!--#include virtual="$publishdir_virtualpath$$file_categories$" --> <!-- INCLUDE SEARCH FORM --> 
        <!--#include virtual="$publishdir_virtualpath$$file_search$" -->

<!-- Begin Banner Code --> </p>
      <P> 
        <CENTER>
          <SCRIPT LANGUAGE="JavaScript" SRC="http://gazettejournal.net/cgi-bin/webadverts/ads.cgi?jscript;zone=static1;11">
  </SCRIPT>
          <NOSCRIPT> <A HREF="http://gazettejournal.net/cgi-bin/webadverts/ads.cgi?banner=NonSSI;page=11;zone=static1" 
  TARGET="_blank"><IMG SRC="http://gazettejournal.net/cgi-bin/webadverts/ads.cgi?page=11;zone=static1" 
  WIDTH=120 BORDER=0></A> </NOSCRIPT> 
        </CENTER>
        <!-- End Banner Code --> 

<!-- Begin Banner Code --> </p>
      <P> 
        <CENTER>
          <SCRIPT LANGUAGE="JavaScript" SRC="http://gazettejournal.net/cgi-bin/webadverts/ads.cgi?jscript;zone=menu;10">
  </SCRIPT>
          <NOSCRIPT> <A HREF="http://gazettejournal.net/cgi-bin/webadverts/ads.cgi?banner=NonSSI;page=10;zone=menu" 
  TARGET="_blank"><IMG SRC="http://gazettejournal.net/cgi-bin/webadverts/ads.cgi?page=10;zone=menu" 
  WIDTH=120 BORDER=0></A> </NOSCRIPT> 
        </CENTER>
        <!-- End Banner Code --> 


<!-- INCLUDE TOP HEADLINES (from each category) --> 
        <!--#include virtual="$publishdir_virtualpath$$file_headlines_bycat$" --> 
   <img src="$_imageurl$set1_maple/spacer.gif" height=3 width=150><br>
  </td>
  <td><img src="$_imageurl$set1_maple/spacer.gif" height=1 width=25></td>
  <td width=100% valign=top>

        <table border=0 cellspacing=0 cellpadding=0 width=100%>
          <tr>
            <td> <span class="general_text"> 
              <table border=0 cellspacing=0 cellpadding=0 width=100%>
                <tr> 
                  <td><span class="header_breadcrumb">$cat_breadcrumb$</span></td>
                  <td align="right">&nbsp;</td>
                </tr>
              </table>
              <hr size=1>
              <br>
              <!-- template insert : $article_list$ --> <!-- templatecell : row --> 
              <span class="summary_breadcrumb"><a name="$art_num$">$cat_breadcrumb$</a></span><br>
              <span class="summary_title"><a href="$detail_link$">$art_name$</a></span><br>
              <span class="summary">$art_summary$</span>
              <br clear="all">
              <br>
              </span> <!-- /templatecell : row --> <!-- templatecell : row_summary --> 
              <span class="summary_breadcrumb"><a name="$art_num$">$cat_breadcrumb$</a></span><br>
              <span class="summary_title">$art_name$</span><br>
              <span class="summary">$art_summary$</span><br clear="all">
              <br>
              <!-- /templatecell : row_summary --> <!-- templatecell : row_link --> 
              <span class="summary_breadcrumb"><a name="$art_num$">$cat_breadcrumb$</a></span><br>
              <span class="summary_title">$art_name$</span><br>
              <span class="summary">$art_summary$</span> <span class="summary">[&nbsp;<a href="$detail_link$" target="_blank">Visit&nbsp;Website</a>&nbsp;]</span><br clear="all">
              <br>
              <!-- /templatecell : row_link --> <!-- templatecell : row_ufile --> 
              <span class="summary_breadcrumb"><a name="$art_num$">$cat_breadcrumb$</a></span><br>
              <span class="summary_title">$art_name$</span><br>
              <span class="summary">$art_summary$</span> <span class="summary">[&nbsp;<a href="$detail_link$" target="_blank">Download/View&nbsp;File</a>&nbsp;]</span><br clear="all">
              <br>
              <!-- /templatecell : row_ufile --> <!-- templatecell : not_found --> 
              <span class="summary">Sorry, no articles were found.</span><br>
              <!-- /templatecell : not_found --> <!-- templatecell : img_caption --> 
              <table border=0 cellspacing=2 cellpadding=0 width=$img_width$ align=$img_align$>
                <tr>
                  <td><img src="$img_url$" height="$img_height$" width="$img_width$" border=1></td>
                </tr>
                <tr>
                  <td><span class="image_caption">$img_caption$</span></td>
                </tr>
              </table>
              <!-- /templatecell : img_caption --> <!-- templatecell : img_nocaption --> 
              <table border=0 cellspacing=2 cellpadding=0 width=$img_width$ align=$img_align$>
                <tr>
                  <td><img src="$img_url$" height="$img_height$" width="$img_width$" border=1></td>
                </tr>
              </table>
              <!-- /templatecell : img_nocaption --> 
              <div align=right><span class="more_headlines"> <!-- template insert : $prev$ --> 
                <!-- templatecell : prev --> <a href="$prev_url$">&lt;&lt; prev</a> 
                <!-- /templatecell : prev --> <!-- templatecell : no_prev --> 
                <span>&lt;&lt; prev</span> <!-- /templatecell : no_prev --> <!-- template insert : $next$ --> 
                <!-- templatecell : next --> <a href="$next_url$">next &gt;&gt;</a> 
                <!-- /templatecell : next --> <!-- templatecell : no_next --> 
                <span>next &gt;&gt;</span> <!-- /templatecell : no_next --> <!-- template insert : $more$ --> 
                <!-- templatecell : more --> <a href="$more_url$">More Headlines</a> 
                <!-- /templatecell : more --> <!-- templatecell : no_more --> 
                <!-- /templatecell : no_more --> </span></div>
              <br>
            </td>
          </tr>
          <tr>
            <td>
              <DIV ALIGN="RIGHT"><SPAN CLASS="general_text">Last Updated: </SPAN><SPAN CLASS="global_updated">$global_updated$</SPAN></DIV>
            </td>
          </tr>
        </table>
   
  </td>
  <td><img src="$_imageurl$set1_maple/spacer.gif" height=1 width=25></td>
  <td class="bg_nav_right" valign=top width=1%>


<!-- Begin Banner Code --> 
            <br>
              <CENTER>
                <SCRIPT LANGUAGE="JavaScript" SRC="http://gazettejournal.net/cgi-bin/webadverts/ads.cgi?jscript;zone=NAD;30">
  </SCRIPT>
                <NOSCRIPT> <A HREF="http://gazettejournal.net/cgi-bin/webadverts/ads.cgi?banner=NonSSI;page=30;zone=NAD" 
  TARGET="_blank"><IMG SRC="http://gazettejournal.net/cgi-bin/webadverts/ads.cgi?page=30;zone=NAD" 
  WIDTH=120 BORDER=0></A> </NOSCRIPT> 
              </CENTER>
<!-- End Banner Code --> 
 <!-- Begin Banner Code --> 
            <br>
              <CENTER>
                <SCRIPT LANGUAGE="JavaScript" SRC="http://gazettejournal.net/cgi-bin/webadverts/ads.cgi?jscript;zone=NAD;40">
  </SCRIPT>
                <NOSCRIPT> <A HREF="http://gazettejournal.net/cgi-bin/webadverts/ads.cgi?banner=NonSSI;page=40;zone=NAD" 
  TARGET="_blank"><IMG SRC="http://gazettejournal.net/cgi-bin/webadverts/ads.cgi?page=40;zone=NAD" 
  WIDTH=120 BORDER=0></A> </NOSCRIPT> 
              </CENTER>
<!-- End Banner Code --> 
 <!-- Begin Banner Code --> 
            <br>
              <CENTER>
                <SCRIPT LANGUAGE="JavaScript" SRC="http://gazettejournal.net/cgi-bin/webadverts/ads.cgi?jscript;zone=NAD;50">
  </SCRIPT>
                <NOSCRIPT> <A HREF="http://gazettejournal.net/cgi-bin/webadverts/ads.cgi?banner=NonSSI;page=50;zone=NAD" 
  TARGET="_blank"><IMG SRC="http://gazettejournal.net/cgi-bin/webadverts/ads.cgi?page=50;zone=NAD" 
  WIDTH=120 BORDER=0></A> </NOSCRIPT> 
              </CENTER>
<!-- End Banner Code --> 
 <!-- Begin Banner Code --> 
            <br>
              <CENTER>
                <SCRIPT LANGUAGE="JavaScript" SRC="http://gazettejournal.net/cgi-bin/webadverts/ads.cgi?jscript;zone=NAD;60">
  </SCRIPT>
                <NOSCRIPT> <A HREF="http://gazettejournal.net/cgi-bin/webadverts/ads.cgi?banner=NonSSI;page=60;zone=NAD" 
  TARGET="_blank"><IMG SRC="http://gazettejournal.net/cgi-bin/webadverts/ads.cgi?page=60;zone=NAD" 
  WIDTH=120 BORDER=0></A> </NOSCRIPT> 
              </CENTER>
<!-- End Banner Code --> 
 <!-- Begin Banner Code --> 
            <br>
              <CENTER>
                <SCRIPT LANGUAGE="JavaScript" SRC="http://gazettejournal.net/cgi-bin/webadverts/ads.cgi?jscript;zone=NAD;70">
  </SCRIPT>
                <NOSCRIPT> <A HREF="http://gazettejournal.net/cgi-bin/webadverts/ads.cgi?banner=NonSSI;page=70;zone=NAD" 
  TARGET="_blank"><IMG SRC="http://gazettejournal.net/cgi-bin/webadverts/ads.cgi?page=70;zone=NAD" 
  WIDTH=120 BORDER=0></A> </NOSCRIPT> 
              </CENTER>
<!-- End Banner Code -->
 <!-- Begin Banner Code --> 
            <br>
              <CENTER>
                <SCRIPT LANGUAGE="JavaScript" SRC="http://gazettejournal.net/cgi-bin/webadverts/ads.cgi?jscript;zone=NAD;80">
  </SCRIPT>
                <NOSCRIPT> <A HREF="http://gazettejournal.net/cgi-bin/webadverts/ads.cgi?banner=NonSSI;page=80;zone=NAD" 
  TARGET="_blank"><IMG SRC="http://gazettejournal.net/cgi-bin/webadverts/ads.cgi?page=80;zone=NAD" 
  WIDTH=120 BORDER=0></A> </NOSCRIPT> 
              </CENTER>
<!-- End Banner Code -->
 <!-- Begin Banner Code --> 
            <br>
              <CENTER>
                <SCRIPT LANGUAGE="JavaScript" SRC="http://gazettejournal.net/cgi-bin/webadverts/ads.cgi?jscript;zone=NAD;90">
  </SCRIPT>
                <NOSCRIPT> <A HREF="http://gazettejournal.net/cgi-bin/webadverts/ads.cgi?banner=NonSSI;page=90;zone=NAD" 
  TARGET="_blank"><IMG SRC="http://gazettejournal.net/cgi-bin/webadverts/ads.cgi?page=90;zone=NAD" 
  WIDTH=120 BORDER=0></A> </NOSCRIPT> 
              </CENTER>
<!-- End Banner Code -->


   <img src="$_imageurl$set1_maple/spacer.gif" height=1 width=150><br>
  </td>
 </tr>
</table>

<!-- footer -->

</div>
<!-- www.toolshack.com web tools statistics hit counter code -->
<script language="javascript">
var data,nhp,ntz,rf,sr;document.cookie='__support_check=1';nhp='http';
rf=document.referrer;sr=document.location.search;
if(top.document.location==document.referrer
|| (document.referrer == '' && top.document.location != ''))
{rf=top.document.referrer;sr=top.document.location.search}
ntz=new Date();if((location.href.substr(0,6)=='https:') || 
(location.href.substr(0,6)=='HTTPS:'))nhp='https'; 
data='&an='+escape(navigator.appName)+ '&ck='+document.cookie.length+
'&rf='+escape(rf)+ '&sl='+escape(navigator.systemLanguage)+
'&av='+escape(navigator.appVersion)+ '&l='+escape(navigator.language)+
'&pf='+escape(navigator.platform)+ '&pg='+escape(location.pathname);
if(navigator.appVersion.substring(0,1)>'3') {data=data+'&cd='+
screen.colorDepth+'&rs='+escape(screen.width+ ' x '+screen.height)+
'&tz='+ntz.getTimezoneOffset()+'&je='+ navigator.javaEnabled()};
document.write('<img border=0 hspace=0 '+
 'vspace=0 width=1 height=1 src="'+nhp+'://counter.hitslink.com/'+
 'statistics.asp?v=1&s=11&acct=gjnews'+data+'">');</script>
<script language="javascript1.2">document.write('<');
document.write('!--  ');</script><noscript>
<img border=0 hspace=0 vspace=0 width=1 height=1 
src="http://counter.hitslink.com/stats-ns.asp?acct=gjnews&v=1&s=11">
</noscript><!--//-->
<!-- End www.toolshack.com statistics web tools hit counter code -->

</body>
</html>
